<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Raghu engineering college</h3>
        <div class="subheading mb-3">Bachelor of Technology</div>
        <div>Computer Science Engineering</div>
        <p>GPA: 66.41%</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2012 - May 2016</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Sri Chaitanya jr college</h3>
        <div class="subheading mb-3">MPC</div>
        <p>GPA: 83.5</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2010 - May 20012</span>
      </div>
    </div>

  </div>
</section>