<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
  <div class="my-auto">
    <h2 class="mb-5">Projects</h2>
    
    <ul>
      
    <li class="margin-top"> 
        <p>Easy Sri Lanka Holidays</p>
       <p class="mb-0">
      Role: Front end Developer
      Environment:  HTML5, CSS3, JavaScript, JQuery & PHP, MYSQL, MVC Apache server.
      Customers visiting Sri Lanka will get quotations based on the chosen locations. Top agents will provide quotations as per the provided information.
      URL:  http://www.easysrilankaholidays.com/ 
    </p>
  </li>

  <li class="margin-top">
      <p>Project krushi</p>
    <p class="mb-0">
      Role: Front end Developer
      Environment:  HTML5, CSS3,Bootstrap, JavaScript and JQuery.
      Project krushi is an initiative of an Association Saikorian has over the year’s undertaken innumerable projects and activities for the eradication of child labor and overall development of the children.
      URL: http://www.Projectkrushi.org/ 
    </p>
  </li>


  <li class="margin-top">
      <p>Daiwik housing</p>
    <p class="mob-0">
      Role: Front end Developer
      Environment:  HTML5, CSS3,Bootstrap, JavaScript and JQuery.
      Daiwik housing is a project initiated for a one of the largest builders in Bangalore.This website renders exclusive user -interface for people searching for accommodation. 
      URL: http://www.daiwikhousing.com/new/ 
    </p>
  </li>
  </ul>
  </div>
</section>
